*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    position: relative;
    width: 100%;
    height: 100vh;
    
    background-color: rgb(0, 0, 0);
    background-size:contain;
    background-repeat: repeat;
    animation: cambioFondo 30s 5s infinite;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    width: 100%;
    
    margin-top: 2%;
}
/*-------CABECERA-------- */
.cabecera{
    color: transparent;
    width: 100%;
    margin: 0;
    background: rgba(128, 128, 128, 0.318); /* Color de fondo sólido */
    background-image: radial-gradient(rgba(128, 128, 128, 0.373), rgba(0, 0, 0, 0.452));
    font-size: 4em;
    text-align: center;
    -webkit-text-stroke:5px rgb(0, 0, 0);
    padding-bottom: 12px;
    position: relative;
    animation: cambioColorTexto 20s linear infinite;
    z-index: 2;
}

/*-------ANIMACION CABECERA--------*/
@keyframes cambioColorTexto {
    0% {
        -webkit-text-stroke-color: rgb(255, 0, 0);
    }
    16.666% {
        -webkit-text-stroke-color: orange;
    }
    33.333% {
        -webkit-text-stroke-color: yellow;
    }
    50% {
        -webkit-text-stroke-color: green;
    }
    66.666% {
        -webkit-text-stroke-color: blue;
    }
    83.333% {
        -webkit-text-stroke-color: indigo;
    }
    100% {
        -webkit-text-stroke-color: violet;
    }
}
.cabecera::before,
.cabecera::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: rgb(0, 0, 0); 
  transition: transform 1s linear;
}
.cabecera::before {
  top: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  animation: animateBorderTop 5s infinite linear;
}
.cabecera::after {
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  animation: animateBorderBottom 5s infinite linear;
}
@keyframes animateBorderTop {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
        background-color: blue; 
    }
    75% {
        background-color: red; 
    }
    100% {
        transform: scaleX(0);
        background-color: blue; 
    }
}
@keyframes animateBorderBottom {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
        background-color: violet; 
    }
    75% {
        background-color: blue; 
    }
    100% {
        transform: scaleX(0);
        background-color: violet; 
    }
}

/*-----------ANIMACIÓN DEL FONDO---------*/
.fondoAnimado{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    animation: cambioFondo 30s 5s infinite;
}
.fondoAnimado::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(114, 114, 114) rgb(0, 0, 0));
}
.cuadros{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}
.cuadros li{
    list-style: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle, rgb(255, 160, 160), rgba(255, 0, 43, 0.442));
    animation: cuadradosGif 20s linear infinite;
    bottom: -300px;
}
.cuadros li:nth-child(1){
    left: 5%;
    width: 90px;
    height: 90px;
    animation-delay: 9s;
    animation-duration: 18s;
}
.cuadros li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 12s;
}
.cuadros li:nth-child(3){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 6s;
    animation-duration: 6s;
}
.cuadros li:nth-child(4){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 9s;
    animation-duration: 10s;
}
.cuadros li:nth-child(5){
    left: 35%;
    width: 120px;
    height: 120px;
    animation-delay: 2s;
    animation-duration: 20s;
    border-radius: 25%;
}
.cuadros li:nth-child(6){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 18s;
}
.cuadros li:nth-child(7){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 10s;
}
.cuadros li:nth-child(8){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 4s;
}
.cuadros li:nth-child(9){
    left: 70%;
    width: 90px;
    height: 90px;
    animation-delay: 9s;
    animation-duration: 25s;
    
}
.cuadros li:nth-child(10){
    left: 70%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    animation-duration: 18s;
}
.cuadros li:nth-child(11){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.cuadros li:nth-child(12){
    
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 5s;
}
@keyframes cuadradosGif {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
        border-radius: 0;
        
    }
   
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.5;
        border-radius: 50%;
        
    }
    
}
@keyframes cambioFondo{
    0%{
        background-color: rgb(0, 0, 0);
    }
    25%{
        background-color: rgb(79, 79, 79);
    }
    50%{
        background-color: rgb(144, 144, 144);
    }
    75%{
        background-color: rgb(82, 81, 81);
    }
    100%{
        background-color: rgb(0, 0, 0);
    }
}

/* -------------------ESTILOS CONSOLA------------- */
@font-face {
    font-family: 'Pretendo';
    src: url("/font/Pretendo.ttf") format('truetype'), url("/font/Pretendo.woff") format('woff'), url("/font/Pretendo.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  /* Ponemos la consola en la primera capa*/
  .container.mt-3{
    z-index: 1;
  }
  /*Estilos de botones ON-OFF*/
input.btn-primary.btn-on,
input.btn-secondary.btn-off {
    color: black;
    background:none;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}
/*Oculta el botón OFF*/
input.btn-secondary.btn-off{
    display: none;
}
/*Estilos de aspecto de la consola*/
.gameboy {
    position: relative;
    display: block;
    margin: 150px auto;
    width: 422px; /* Establece un ancho máximo */
    height: 697px; /* Establece una altura máxima */
    background: #eee;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  }
  /*añade elementos en la cabecesa de la consola*/
.gameboy::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    border-bottom: 4px solid #e0e0e0;
  }
  .gameboy::after{
    content: "";
    position: absolute;
    top: 0;
    width: 334px;
    height: 31px;
    border-left: 4px solid #e0e0e0;
    border-right: 4px solid #e0e0e0;
    margin-left: 40px;
    margin-right: 40px;
  }
  /*Estilo del área de la pantalla*/
  .gameboy .pantalla{
    position: relative;
    top: 60px;
    left: 40px;
    width: 342px;
    height: 272px;
    margin-bottom: 58px;
    background-color: #777;
    border-radius: 13px 13px 50px 13px;
  }
/* Estilo de la pantalla de juego */
.gameboy .pantalla .pantallaJuego{
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #bdae58;
    width: 225px;
    height: 205px;
    box-shadow: inset 3px 3px rgba(0,0,0,0.15);
}
/*texto superior de la pantalla*/
.gameboy .pantalla .pantallaJuego .encabezado{
    position: relative;
    top:-30px;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: right;
    font-size: 10px;
    font-family: sans-serif;
    color: #b3b3b3;
}
.gameboy .pantalla .pantallaJuego .encabezado::before{
    content: "";
    position: absolute;
    left: -43px;
    top: 12px;
    width: 90px;
    height: 3px;
    background-color: #8b1d90;
    box-shadow: 0 6px 0 #283593;
}
.gameboy .pantalla .pantallaJuego .encabezado::after{
    content: "";
    position: absolute;
    right: -46px;
    top: 12px;
    width: 38px;
    height: 3px;
    background-color: #8b1d90;
    box-shadow: 0 6px 0 #283593; 
}
/* Indicador de batería*/
.gameboy .pantalla .power{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100px;
    left: 20px;
    border-radius: 100%;
    background-color: #b98181;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.gameboy .pantalla .power:before{
    content: "BATTERY";
    position: relative;
    top: 18px;
    left: -10px;
    font-size: 8px;
    font-family: sans-serif;
    color: #b3b3b3;
}
.power.power-on {
    background-color: #f00 !important;
    box-shadow: 0 0 3px 1px #ef5350;
  }

/* Botones de control*/
.gameboy .btn-controles{
    display: block;
    position: relative;
    margin-top: 90px;
}  
/* Estilos cruceta de dirección */
.gameboy .btn-controles .btn-direccion {
    position: relative;
    margin-left: 40px;
    top: 60px;
  }
  .gameboy .btn-controles .btn-direccion:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: #353535;
    border-radius: 100%;
  }
  .gameboy .btn-controles .btn-direccion .btn-vertical,
.gameboy .btn-controles .btn-direccion .btn-horizontal {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 90px;
  background: #444;
  border-radius: 5px;
}
.gameboy .btn-controles .btn-direccion .btn-vertical::before,
.gameboy .btn-controles .btn-direccion .btn-horizontal::before{
    content: "";
    position: relative;
    top: 99px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #bbbbbb;
} 
.gameboy .btn-controles .btn-direccion .btn-vertical::after,
.gameboy .btn-controles .btn-direccion .btn-horizontal::after{
    content: "";
    position: relative;
    top: -32px;
    left: -5.6px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #bbbbbb;
}
.gameboy .btn-controles .btn-direccion .btn-horizontal{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* Botones AB*/
.gameboy .btn-controles .btn-AB {
    position: absolute;
    top: 72px;
    left: 252px;
    width: 130px;
    height: 60px;
    background: #dfdfdf;
    border-radius: 30px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    cursor: pointer;
}
.gameboy .btn-controles .btn-AB::after{
    content: "";
    position: absolute;
    top: 8px;
    right: 9px;
    width: 44px;
    height: 44px;
    background: #a93671;
    box-shadow: 68px 0 #a93671;
    border-radius: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(-180deg);
}
.gameboy .btn-controles .btn-AB::before{
    content: "";
    position: absolute;
    top: 8px;
    right: 76px;
    width: 44px;
    height: 44px;
    rotate: 180deg;
    background: #a93671;
    box-shadow: 68px 0 #a93671;
    border-radius: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* Altavoz*/
.gameboy .altavoz{
    content: "";
    position: relative;
    height: 70px;
    width: 8px;
    top: 260px;
    left: 300px;
    background: #ddd;
    border-radius: 4px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    box-shadow: 20px 0 #ddd, 40px 0 #ddd, 60px 0 #ddd, 80px 0 #ddd, 100px 0 #ddd;    
}

/* Botones start y select*/

.gameboy .btn-controles .btn-start-select {
    position: absolute;
    top: 205px;
    left: 140px;
    width: 60px;
    height: 12px;
    z-index: 1;
}

.gameboy .btn-controles .btn-start-select::before,
.gameboy .btn-controles .btn-start-select::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #999;
    border-radius: 10px;
    cursor: pointer;
}

.gameboy .btn-controles .btn-start-select::before {
    left: 0;
    transform: rotate(-25deg);
    box-shadow: 0 0 0 5px #dfdfdf;
}

.gameboy .btn-controles .btn-start-select::after {
    left: 60px;
    box-shadow: 0px 0px 0 5px #dfdfdf;
    transform: rotate(-25deg);
}


/* auriculares*/
.phones {
    position: absolute;
    bottom: 4px;
    left: 50%;
    padding: 3px 5px;
    transform: translateX(-50%);
    color: #dadada;
    background-color: #e8e8e8;
    font-size: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
  }
  .phones:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    bottom: -4px;
    background-color: #e8e8e8;
    left: 9px;
  }
  .phones:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 5px;
    bottom: -4px;
    left: 12px;
    background-color: #ddd;
    box-shadow: 5px 0 #ddd;
    border-radius: 4px 4px 0 0;
  }  
/*selector on-off*/
.on-off {
    position: absolute;
    top: 2px;
    left: 20%;
    padding: 3px 5px;
    transform: translateX(-50%);
    color: #dadada;
    background-color: #e8e8e8;
    font-size: 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
    
  }
  
  .on-off:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    top: -2px;
    background-color: #e8e8e8;
    left: 6px;
  }
  .on-off:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 5px;
    top: -2px;
    left: 9px;
    background-color: #ddd;
    box-shadow: 5px 0 #ddd;
    border-radius: 0 0 3px 3px;
  }

/* Animación de inicio*/
.gameboy .pantalla .pantallaJuego .animacionInicio{
    opacity: 0;
    display: inline;
    position: relative;
    top: -26px;
    left: 30%;
    color: #8a891f;
    font-size: 17px;
    font-family: "Pretendo";
    z-index: 10;
}

.gameboy .pantalla .pantallaJuego .animacionInicio.end {
    opacity: 1;
    top: 50px;
    -webkit-transition: top 3s linear;
    -moz-transition: top 3s linear;
    -ms-transition: top 3s linear;
    -o-transition: top 3s linear;
    transition: top 3s linear;
}

.gameboy .pantalla .pantallaJuego .animacionInicio .copy {
    position: relative;
    display: inline;
    top: -2px;
    margin-left: 2px;
    font-size: 15px;
    font-family: monospace;
}

